.song-container {
    padding: 2rem;
}


.song-contents {
    margin: -130px 50px 10px 100px;
    
}

.follow-content {
    margin: 0px 0px 00px 40px;

}

.container-leaderboard {
    padding: 3rem;
}