{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Welcome to Microblog!</title>
    {% endif %}
</head>
<body>
    <div class="main">
        <div class="main-container">
            <div class="main-content">
                <h1>iMusic Leaderboards.</h1>
                    <p>The place to find the top songs played on the radio.</p>
                    
                    {% if current_user.is_anonymous %}
                    <button class="main-btn">
                        <a href="{{url_for('login') }}">leaderboard</a>
                    </button>
                    {% elif current_user.is_authenticated %}
                    <button class="main-btn">
                        <a href="{{url_for('leaderboard') }}">leaderboard</a>
                    </button>
                    {% endif %}

            </div>
            <div class="main-img-container">
                <img src="static/img/photo.svg" alt="" id="main-img">
            </div>
        </div>
    </div>
</body>
</html>
{% endblock %}
