{% extends "base.html" %}
{% block content %}
<body>
    <div class="song-container">

        <div class="song-icon">
            <i class="fas fa-music fa-8x"></i>
        </div>

        <div class="song-contents">
            <ul> Rank: {{ song.id }} </ul>
            <ul> Song: {{ song.track_name }} </ul>
            <ul> Artist: {{ song.artist_name }} </ul>
            <ul> Followers: {{ song.listeners.all() }} </ul>

            <div class="follow-content">
                {% if not current_user.is_anonymous %}
                    {% if current_user.is_following_song(song) %}
                    <a href="{{url_for('song_follow', songID=song.id, action='unfollow')}}" class="btn btn-primary btn-sm" role="button" aria-pressed="true">Unfollow</a>
                    {% else %}
                    <a href="{{url_for('song_follow', songID=song.id, action='follow')}}" class="btn btn-primary btn-sm" role="button" aria-pressed="true">Follow</a>
                    {% endif %}
                {% endif %}
            </div>
        </div>

        
    </div>

</body>
</html>
{% endblock %}
